{% extends "base.html.twig" %}

{% block title %}
    {% if editMode %}
        Modifier
    {% else %}
        Ajouter
    {% endif %}
{% endblock %}


{% block body %}

<div class="container my-3 p-4 w-50 border border-primary" >
<h1 class="text-center my-4 p-4 bg-success text-white">
    {% if editMode %}
        Modifier
    {% else %}
        Ajouter un
    {% endif %}
    Employé</h1>
    
        {{ form_start(formEmployes)}}
            <div class="row"> 
            <div class="col-6">{{ form_row(formEmployes.nom)}}</div>
            <div class="col-6">{{ form_row(formEmployes.prenom)}}</div>
            </div>
            {{ form_row(formEmployes.telephone)}}
            {{ form_row(formEmployes.email)}}
            {{ form_row(formEmployes.adresse)}}
            <div class="row"> 
                <div class="col-6">{{ form_row(formEmployes.poste)}}</div>
                <div class="col-6">{{ form_row(formEmployes.salaire)}}</div>
                </div>
            {{ form_row(formEmployes.date_de_naissance) }}
            <button class="text-center btn btn-success">Créer ce compte</button>
        {{ form_end(formEmployes)}}
    </div>


{% endblock %}


